@charset "utf-8";

header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 0;
}

img {
  vertical-align: bottom;
}

a {
  background-color: green;
  color: azure;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
}
